@model RobotDesk.Web.Models.HomeViewModel
<div class="jumbotron">
    <h1>Robot Desk</h1>
    <p class="lead">... is currently at a height of @Model.CurrentHeight.to_height inches above base.</p>
</div>
<div class="row">
    
    <div class="col-md-8">
        The desk has recently been in the following positions:
        <table class="table table-striped">
            <thead><tr>
                <th>Time</th>
                <th>Height (inches)</th>
                <th>Sitting or Standing?</th>
            </tr></thead>
            <tbody>
            @foreach (var item in Model.Log) {
                <tr>
                    <td>
                        @item.move_initiate_time
                    </td>
                    <td>
                        @item.to_height
                    </td>
                    <td>
                        @item.SittingOrStanding
                    </td>
                </tr>
            }
            </tbody>

        </table>
    </div>
    <div class="col-md-2">
@*        <h2>Web Hosting</h2>*@
@*        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>*@
@*        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>*@
    </div>
</div>
